.file-btn {
  padding: 7px 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.file-btn i {
  padding-right: 5px;
}

#upload-btn {
  background-color: var(--color-blue);
}

#upload-btn label {
  cursor: pointer;
}

#upload-btn input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

#convert-btn {
  background-color: var(--color-green);
}

#status {
  max-width: 600px;
  margin: 10px auto;
}

#status > p {
  text-align: center;
}

#status-log {
  padding: 10px;
  margin-top: 20px;
  background-color: var(--color-black);
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

#log-board {
  background-color: var(--color-gray);
  margin-top: 10px;
  padding: 10px 5px;
  height: 100px;
}
