.file-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  background-color: var(--color-blue);
  color: white;
}

.file-label label {
  font-size: 1.5rem;
  cursor: pointer;
}

.file-label label i {
  padding-right: 5px;
}

.file-label input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.generate-button {
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px 5px 10px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
  transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
  cursor: pointer;
}

.generate-button i {
  padding-right: 10px;
}

.generate-button.hover:hover {
  transform: scale(105%);
}
