@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: UbuntuMono-Regular;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: UbuntuMono-Bold;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: D2Coding-Bold;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/D2Coding-Bold.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono-Bold;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono-ExtraBold;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Adobe Blank";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/AdobeBlank.ttf") format("truetype");
}
