:root {
  --li-indent: 25px;
}

#setting-section p,
#setting-section li {
  margin: 10px 0px;
  font-weight: 500;
}

#setting-section li {
  list-style-position: inside;
}

#setting-section li > p {
  position: relative;
  left: var(--li-indent);
  width: calc(100% - var(--li-indent));
}

#setting-section a {
  color: var(--color-blue);
  text-decoration: none;
}

#setting-section a:visited {
  color: var(--color-blue);
}

#setting-section h2 {
  margin-top: 30px;
}

#setting-section h2 > sub {
  font-size: 0.8rem;
}

.setting-div {
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: var(--color-black);
  border-radius: 10px;
  border: 1px solid var(--color-gray);
}

.setting-chunk {
  padding: 0px 5px;
}

#setting-section select {
  appearance: none;
  background: url("../chevron-down-solid.svg") calc(100% - 10px) center
    no-repeat;
  background-size: 10px;
  background-color: var(--color-white);
  font-size: 1rem;
  padding: 5px;
  padding-right: 30px;
  margin: 5px;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  color: var(--color-black);
  width: auto;
}

#setting-section input[type="text"] {
  appearance: none;
  background-color: var(--color-white);
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  color: var(--color-black);
}

#setting-section input[type="checkbox"] {
  margin: 10px 10px 10px 7px;
}

#setting-section button {
  padding: 7px;
  margin: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 0px transparent;
  background-color: var(--color-blue);
  color: var(--color-white);
}

#setting-section button:active {
  background-color: var(--color-dark-blue);
}

#char-table-wrapper {
  max-width: 100%;
  overflow: auto;
}

#char-table {
  margin: 10px 0px;
  border-collapse: collapse;
  text-align: center;
}

#char-table td {
  padding: 5px 10px;
  border: 1px solid var(--color-white);
}

#char-table td:nth-child(1) {
  font-family: inherit;
}

#char-table tr:nth-child(3) > td {
  border: 0px transparent;
  color: var(--color-blue);
}

#char-table tr:nth-child(3) > td i {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .setting-div {
    margin: 10px 0px;
  }
}
